.main
  .main__top
    .main__top__box
      .main__top__group
        #{@group.name}
        .main__top__box__box
          -@group.users.each do |user|
            #{user.name}
      .main-top-right-box
        = link_to "Edit" ,"#"
  .main-content
    .post
      .next
        .poster
          かれん
        .date
          2020/01/05(Sun) 20:31:56
      .talk
        こんにちは
    .post
      .next
        .poster
          えり
        .date
          2020/01/05(Sun) 20:31:59
      .talk
        こんばんは
  .main-bottom
    = form_for [@group, @message] do |f|
      .form-space
        = f.text_field :content, class: 'form-mini-box', placeholder: 'type a message'
        .form_box
          = f.label :image, class: 'form-box-box' do
            = icon('fas', 'image', class: 'form')
            = f.file_field :image, class: 'image'
      = f.submit 'Send', class: 'form-btn'