.main
  .main__top
    .main__top__box
      .main__top__group
        #{@group.name}
        .main__top__box__box
          member : 
          -@group.users.each do |user|
            #{user.name}
      .main-top-right-box
        = link_to "Edit", edit_group_path(@group)
 
  .main-content
    = render @messages
  
  .main-bottom
    = form_for [@group, @message] do |f|
      .form-space
        = f.text_field :content, class: 'form-mini-box', placeholder: 'type a message'
        .form_box
          = f.label :image, class: 'form-box-box' do
            = icon('fas', 'image', class: 'form')
            = f.file_field :image, class: 'image'
      = f.submit 'Send', class: 'form-btn'